.Computer {
  background: #f8f9fb;
  
  .Computer-content {
    margin: 35px auto;
    min-height: 720px;
    width: 1025px;

  } 

  .content-input-area {
    width: 705px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    background: #fff;
  }

  .content-navigation {

  }

}


